<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<div><%= @appointment.name %></div>
		<div><%= @appointment.phone_number %></div>
		<div><%= @appointment.email %></div>
		<div><%= @appointment.body %></div>
		<div><%= @appointment.selected_day %></div>
	</body>
</html>