<div class="calendar"></div>

<%= form_for @appointments do |f| %>
	  
	<div class="form-group">
    <%= f.text_area :name, class: 'form-control', placeholder: 'First Name' %>
  </div>

	<div class="form-group">
    <%= f.text_area :email, class: 'form-control', placeholder: 'Last Name' %>
  </div>

	<div class="form-group">
    <%= f.text_field :phone_number, class: 'form-control', id: 'phone', placeholder: 'Phone Number' %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', rows: "15", placeholder: 'Explain placement and any ideas you may have.' %>
  </div>

  <div class="row">
    <div class="form-group column">
      <%= f.text_field :selected_day, class: 'form-control datepicker' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.file_field :image, class: 'form-control' %>

  <div class="form-group">
    <%= f.submit "Get your Consultation", class: 'btn btn-primary' %>
  </div>

<% end %>
<h1>appointments view</h1>